{% extends 'VodrocheFrontBundle::layout.html.twig' %}

{% block content %}
<section id="main" class="wrapper">
    <p>Choisissez votre thème</p>
        <ul class="categories">
            {% for cate in categories %}
                    <li class="btn {% if loop.index is divisible by(5) %}nomargin{% endif %}" ><a href="{{ path('categorie', { 'id': cate.id }) }}" {% if cate.name == categorie.name %} class="active" {% endif %} ><span>{{cate.name}}</span></a></li>
            {% endfor %}
        </ul>
    <div class='videoContainer'>
        <div class="video" data-id={{video.video|raw}}>
            <div class="videoWrapper">
                <!-- Start of Brightcove Player -->
                <object id="myExperience2385845349001" class="BrightcoveExperience">
                    <param name="bgcolor" value="#FFFFFF" />
                    <param name="playerID" value="4090806317001" />
                    <param name="playerKey" value="AQ~~,AAACK2FgWxE~,CemupA8__LH8QV6OanceljCJawh1hTnZ" />
                    <param name="isVid" value="true" />
                    <param name="isUI" value="true" />
                    <param name="dynamicStreaming" value="true" />
                    <param name="@videoPlayer" value="{{video.video|raw}}" />
                </object> 
                <script type="text/javascript">
                // <![CDATA[ brightcove.createExperiences(); // ]]>
                </script> 
                <!-- End of Brightcove Player -->   
            </div>
        </div><div class="infoVideo">
            <h3>{{video.title}}</h3>
            <div id="vote">
                Evaluez la vidéo
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="comment">
                {{ form_start(form) }}
                    {{ form_label(form.content, 'Commentez ou posez une question') }}<br/>
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                    
                    {{ form_widget(form.save, {'label': 'Valider'}) }}
                    <div class="btn"><a href="{{ path('categorie', { 'id': categorie.id }) }}"><span>Annuler et quitter</span></a></div>
                {{ form_end(form) }}
                

            </div>
        </div>
    </div>
    
   
</section>

{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://admin.brightcove.com/js/BrightcoveExperiences.js" type="text/javascript" language="JavaScript"></script>
<script type="text/javascript" src="http://files.brightcove.com/bc-mapi.js"></script>
<script>

    $(document).ready(function(){

        var voted=false;

        $('.submit').on('click', function(){
            $.post('http://localhost/vodroche/web/app_dev.php/comment/{{video.id}}',
                    {'comment':$('textarea[name="comment"]').val()},
             function(data){
                console.log(data);
             }
            )
        })

        $('#vote div').on('click', function(){
            var vote = $(this).index()+1;
            
            if(!voted){
                $.ajax({
                    url: '/vote/{{video.id}}/note/'+vote,
                })
                .done(function() {
                    console.log("success");
                    alert("Votre vote a été pris en compte");

                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
            }
            voted = true;
            
        })

        $('#vote div').on('mouseover', function(){
            var index = $(this).index();

            if (voted == false) {

                 for(var i = 0 ; i<=index+1 ; i++){
                    $('#vote div:nth-child('+i+')').css({'background-position' : 'right'})
                }
            }  
        })

           $('#vote div').on('mouseleave', function(){
            var index = $(this).index();

            if (voted == false) {

                for(var i = 0 ; i<=index+1 ; i++){
                $('#vote div').css({'background-position' : 'left'})
                }

            }

        })



    })
</script>
{% endblock %}